.main-header-container {
    font-size: 16px;
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-header {
    margin-bottom: 10px;
    color: black;
}

.main-box {
    width: 50%;
    padding: 10px;
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding-bottom: 20px;
    min-width: 45rem;
}

@media screen and (max-width: 700px) {
    .flex-div {
        flex-direction: column;
        align-items: center;
    }
    .main-box {
        min-width: 20rem;
    }
    .flex-item {
        margin-top: 0.5rem;
    }
}

.flex-div {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.flex-item {
    margin-left: 10px;
    background-color: #f0f0f0;
  }
